<%= form_for [:admin, @event], :html => { :id => 'appointment_form', :method => 'delete' } do |f| %>
<p>
  Your appointment has been cancelled please fill the form below:
</p>
<p>
  <%=f.label :remark, 'Enter reason for cancellation' %>
  <br/>
  <%=f.text_area :remark, :rows => 4, :cols => 30 %>
</p>
<p>
<%=f.submit 'Submit', :onclick => "document.getElementById('event_commit_button').value = this.value"%>
<span id = "updating_events" class="spinner" style = "display:none;">Cancelling Appointment, Please wait...</span>
</p>
<%end %>