<script>
  app_path = "<%= @controller_name %>";
</script>
<%= stylesheet_link_tag :fullcalendar, :jquery_ui, :style %>
<%= javascript_include_tag :fullcalendar, :events, :appointment %>

<!--<#%= form_tag("/get_events", method: "get") do %>
  <#%= label_tag(:staff_id, 'Staff :') %>
  <#%= collection_select(:staff_id, @staffs, :id, :name) %>
  <#%= label_tag(:service_id, 'Services :') %>
  <#%= collection_select(:service_id, @services, :id, :name) %>
<#% end %>-->

<h2>Calendar</h2>
  <div id='calendar'></div>

<div>
  <div class='calendar'></div>
</div>
<div id="event_desc_dialog" class="dialog" style="display:none;"></div>
<div id="create_event_dialog" class="dialog" style ="display:none;">
  <%= render 'form' %>
</div>
