<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Appointment Management System, <%= @invitation.name %></h1>
    <pre>
      Hello  <%= @invitation.name %>
      You have been invited to Vinsol AMS.
      Please click the link below to accept the invitation 
      <%= link_to 'Accept Invitation', accept_admin_invitations_url(token: URI.escape(@invitation.invitation_token)) %>
    </pre>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>