// Place all the styles related to the appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border: 0px;
  tr{
    border: 0px;
    td{
      padding: 0px 10px 0px 10px;
      border: 0px;
    }
  }
}
